<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>
        -var intra= ['Cesta','Cricket','Ludo','Avaansh']
        -var inter= ['Conchoord','Awaaz','Error404','Debate']
        <div class="container">
            if(value==1)
                br
                h3(class="text-center")= "Intra-Competition"
                div(class="row")
                    each r in intra
                        div(class="col-4")
                            br
                            div(class="card" style="width: 18rem;")
                                div(class="card-body")
                                    h5(class="card-title")= r
                                    h6(class="card-subtitle mb-2 text-muted")= "Sub-title"
                                    p(class="card-text")= "Some quick example text to build on the card title and make up the bulk of the card's content."
                                    a(href="/register/"+r class="card-link")= "Register"

            else if(value==2)
                br
                h3(class="text-center")= "Inter-Competition"
                div(class="row")
                    each r in inter
                        div(class="col-4")
                            br
                            div(class="card" style="width: 18rem;")
                                div(class="card-body")
                                    h5(class="card-title")= r
                                    h6(class="card-subtitle mb-2 text-muted")= "Sub-title"
                                    p(class="card-text")= "Some quick example text to build on the card title and make up the bulk of the card's content."
                                    a(href="/register/"+r class="card-link")= "Register"
        </div>
            

        <script src="../vikiran.js"></script>
    </body>
</html>