<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>

        -var head= ['S.No','Event Name','Team Name','Team Leader','College Name','Total Members','Transaction ID','Contact'];

        div(class="color")
            div(class="container")              
                div(class="pad")
                    h3(class="text-center content1")= "Registration Transaction Details"
                br

                div(style="overflow-x:auto")
                    table(class="text-center content table table-dark table-striped table-bordered")
                        col(width="10" height="1vh")
                        col(width="170")
                        col(width="170")
                        col(width="170")
                        col(width="170")
                        col(width="170")
                        col(width="170")
                        col(width="170")
                        thead(class="heading thead-light")
                            tr
                                for r in head
                                    th= r
                               
                            tbody(class="eventable")
                                -for(var i=0;i<registers.length;i++)
                                    tr
                                        td= i+1
                                        td= registers[i].event_name
                                        td= registers[i].team_name
                                        td= registers[i].team_leader
                                        td= registers[i].college_name
                                        td= registers[i].total_members
                                        td= registers[i].transaction
                                        td= registers[i].contact
                                       
            
    <script src="../vikiran.js"></script>

    </body>
</html>