<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>

        -var head= ['S.No','Event Name','Team Name','Team Leader','College Name','Tot. Mem','Transaction ID','Contact','Paid','Date',];

        div(class="color")
            div(class="container")              
                div(class="pad")
                    h3(class="text-center content1")= "Registration Transaction Details"
                br

                div(style="overflow-x:auto")
                    table(class="text-center content table table-dark table-striped table-bordered")
                        col(width="10" height="1vh")
                        col(width="130")
                        col(width="130")
                        col(width="130")
                        col(width="130")
                        col(width="5")
                        col(width="130")
                        col(width="130")
                        col(width="10")
                        col(width="130")
                        thead(class="heading thead-light")
                            tr
                                for r in head
                                    th= r
                               
                            tbody(class="eventable")
                                -for(var i=0;i<registers.length;i++)
                                    tr
                                        -var count=0;
                                        each t in transactions
                                            -if(t.Transaction_No==registers[i].transaction)
                                                -count++
                                        td= i+1
                                        td= registers[i].event_name
                                        td= registers[i].team_name
                                        td= registers[i].team_leader
                                        td= registers[i].college_name
                                        td= registers[i].total_members
                                        td= registers[i].transaction
                                        td= registers[i].contact
                                        -if(count!=0)
                                            td= "Yes"
                                        -else
                                             td= "No"
                                        td= registers[i].date.toString().substring(0,(registers[i].date.toString().indexOf(':')-2))
                                        
            
    <script src="../vikiran.js"></script>

    </body>
</html>