<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>

       div(class="color")
            div(class="container")              
                div(class="pad")
                    h3(class="text-center content")= event
                br

                div(style="overflow-x:auto")
                    table(class="text-center content table table-dark table-striped table-bordered")
                        col(width="10" height="1vh")
                        col(width="160")
                        col(width="160")
                        col(width="160")
                        col(width="160")
                        col(width="160")
                        col(width="160")
                        col(width="160")
                        col(width="160")
                        thead(class="heading thead-light")
                            tr
                                th="S.No"
                                th="Team Name"
                                th="Team Leader"
                                th="Enrollment No."
                                th="College Name"
                                th="Total Members in Group"
                                th="Contact"
                                th="Transaction Id"
                                th="Other Members"

                            tbody(class="eventable")
                                -r= Object.assign({}, registers)
                                -for(var i=0;i<registers.length;i++)
                                    tr
                                        td= i+1
                                        td= r[i].team_name
                                        td= r[i].team_leader
                                        td= r[i].enroll_no
                                        td= r[i].college_name
                                        td= r[i].total_members
                                        td= r[i].contact
                                        td= r[i].transaction
                                        -if(r[i].Other_Members!= undefined)
                                            -if(r[i].Other_Members['2']== undefined)
                                                td= r[i].Other_Members['1']
                                            -else if(r[i].Other_Members['3']== undefined)
                                                td= r[i].Other_Members['1']+","+r[i].Other_Members['2']
                                            -else if(r[i].Other_Members['4']== undefined)
                                                td= r[i].Other_Members['1']+","+r[i].Other_Members['2']+","+r[i].Other_Members['3']
                                            -else
                                                td= r[i].Other_Members['1']+","+r[i].Other_Members['2']+","+r[i].Other_Members['3']+","+r[i].Other_Members['4']
            
    <script src="../vikiran.js"></script>

    </body>
</html>