<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>

       div(class="color")
            div(class="container")              
                div(class="pad")
                    h3(class="text-center content")= event
                br
                table(class="text-center content")
                    col(width="200" height="1vh")
                    col(width="200")
                    col(width="200")
                    col(width="200")
                    col(width="200")
                    col(width="200")
                    thead
                        tr
                            th="Team_Name"
                            th="Team_Leader"
                            th="Total Members in Group"
                            th="Contact"
                            th="Transaction Id"
                            th="Other_Members"
                    tbody

                        -r= Object.assign({}, registers)
                        -for(var i=0;i<registers.length;i++)
                            tr
                                td= r[i].team_name
                                td= r[i].team_leader
                                td= r[i].total_members
                                td= r[i].contact
                                td= r[i].transaction
                                -if(r[i].Other_Members!= undefined)
                                    -if(r[i].Other_Members['2']== undefined)
                                        td= r[i].Other_Members['1']
                                    -else if(r[i].Other_Members['3']== undefined)
                                        td= r[i].Other_Members['1']+","+r[i].Other_Members['2']
                                    -else if(r[i].Other_Members['4']== undefined)
                                        td= r[i].Other_Members['1']+","+r[i].Other_Members['2']+","+r[i].Other_Members['3']
                                    -else
                                        td= r[i].Other_Members['1']+","+r[i].Other_Members['2']+","+r[i].Other_Members['3']+","+r[i].Other_Members['4']
    <script src="../vikiran.js"></script>

    </body>
</html>